<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gilang.tugasdatabaseandroid">

    <uses-permission
        android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.gilang.tugasdatabaseandroid.TambahPelanggan"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".LihatPelanggan"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".EditPelanggan"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <activity
            android:name="com.example.gilang.tugasdatabaseandroid.TambahPegawai"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".LihatPegawai"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".EditPegawai"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <activity
            android:name="com.example.gilang.tugasdatabaseandroid.TambahObat"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".LihatObat"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".EditObat"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".MenuPelanggan"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".MenuPegawai"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".MenuObat"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.gilang.tugasdatabaseandroid.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.gilang.tugasdatabaseandroid.SignUpActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.example.gilang.tugasdatabaseandroid.Menu"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
    </application>

</manifest>
